<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
							<binding name="BasicHttpBinding_ILigaService" allowCookies="true"
								 maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000"
								 useDefaultWebProxy="true">
								<readerQuotas maxDepth="1024" maxStringContentLength="200000000"
										maxArrayLength="200000000" />
							</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/LigaService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILigaService" contract="LigaServiceReference.ILigaService"
                name="BasicHttpBinding_ILigaService" />
        </client>
    </system.serviceModel>
</configuration>